*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    font-size: 20px;
    overflow-x: hidden;
    color: #fff;
    font-family: 'Flamenco', cursive;

}
header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../images/invert.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.clearfix:after
{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

.rows
{
    margin: 0 auto;
    max-width: 1180px;

}
.logo
{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
    
}
.main-nav
{
    float: right;
    margin-top: 60px;
}
.main-nav li
{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
    
}
.main-nav li a
{
    margin-right: 40px;
    color: #fff;
    padding: 5px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;
    
}
.main-nav li a:hover
{
    border-bottom: 2px solid blueviolet;

}
.main-content-header
{
    width: 1180px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}
h1{
    color:#fff;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: lighter;

}
.btn
{
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-transform: uppercase;
    border-radius: 200px;
    margin-right: 15px;


}
.btn-full
{
    background-color: transparent;
    color: blueviolet;
    margin-right: 15px;
    border: 1px solid blueviolet;
}
.btn-full:hover{
    background-color: #fff;
}
.btn-nav
{
    margin-right: 15px;
    background-color: transparent;
    color:white;
    border: 1px solid white;

}
.btn-nav:hover{
    background-color: blueviolet;
    color: #fff;
}
.mobile-icon{display: none;}
.changecolor
{
    animation: colorchange 1s infinite;
}


@keyframes colorchange{
    0%{color: red;}
    25%{color: blueviolet;}
    50%{color:white;}
    100%{color:blueviolet;}

}
@media only screen  and (max-width: 1180px)
{
    .main-content-header
    {
    width: 100%;
    padding: 0 2%;
    }
}
@media only screen  and (max-width: 998px)
{
    h1{font-size: 200%;}
}
@media only screen  and (max-width: 768px)
{
    h1{font-size: 180%;}
    .main-nav{
    display:none ;
    }
    .mobile-icon{
        display: inline-block;
        color:  #fff;
        float:  right;
        margin-top: 30px;
        margin-right: 20px;


    }
    .main-nav{float: left;}
    .main-nav li{
        
        display:block;
        margin-top: 10px;
    }

}
@media only screen  and (max-width: 480px)
{
    .btn-full
    {
        margin-bottom: 20px;
    }
    h1{
        font-size: 160%;
    }

}

